/* Agrega los estilos de slick-carousel */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


.arrow-button {
  @apply p-2 bg-gray-200 rounded hover:bg-gray-300 transition-colors;
}

.current-trimester, .current-week {
  @apply font-bold text-lg;
}

::-webkit-scrollbar {
  width: 1px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #00324D;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #01b001;
}

::-webkit-scrollbar {
  width: 0;
}

.semicircle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  background-color: #f44336;
  border-bottom-right-radius: 100px;
}

.custom-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
}

.custom-checkbox:checked {
  background-color: #ffffff;
  border-color: green;
}

.custom-checkbox:checked::after {
  content: "✔";
  color: green;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-checkboxred {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
}

.custom-checkboxred:checked {
  background-color: #ffffff;
  border-color: red;
}

.custom-checkboxred:checked::after {
  content: "✕";
  color: red;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
}

.custom-checkbox:checked {
  background-color: #ffffff;
  border-color: green;
}

.custom-checkbox:checked::after {
  content: "✅";
  color: green;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-checkboxred {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
}

.custom-checkboxred:checked {
  background-color: #ffffff;
  border-color: red;
}

.custom-checkboxred:checked::after {
  content: "❌";
  color: red;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.animate-shake {
  animation: shake 0.3s ease-in-out;
}

